In [ ]:
import pandas as pd

In [ ]:
#

sheet_file = None
df = None

file_name = input("File: ")

try:
  sheet_file = open(file_name, "r")
except:
  print(f"The following file '{file_name}' does not exist")

df = pd.read_excel(sheet_file.buffer)
sheet_file.close()

df

In [ ]:
#[Important!] Column validation. The entire project requires this to be running!

def validate_column():
  while True:
    column = input("Target column: ")
    try:
      if not df.columns.get_loc(column) == -1:
        return column
    except:
      print(f"'{column}' does not exist")

In [ ]:
#Get rid of all duplicates on the entire data set

df = df.drop_duplicates()

df

In [ ]:
#Get rid of a column entirely

df = df.drop(columns = validate_column())

df

In [ ]:
#Get rid of all the characters in a column of your choice except for letters and numbers

target_column = validate_column()

df[target_column] = df[target_column].replace("[^0-9a-zA-Z]", "", regex = True)

df

In [ ]:
#Split the column of your choice by putting the splitter value (like a "," or "-", for example), the amount of columns to be created and the names of the new columns

target_column = validate_column()
split_pattern = input("Value to be used as the splitter: ")
column_amount = int(input("Amount of columns to be created: "))
column_names_list = []

for index in range(column_amount):
  column_name = input(f"Column {index + 1} name: ")
  column_names_list.append(column_name)

df[column_names_list] = df[target_column].str.split(split_pattern, expand=True)
df = df.drop(columns = target_column)

df

In [ ]:
#Rename the column of your choice

target_column = validate_column()
df = df.rename(columns = {target_column:input("New column name: ")})

df

In [ ]:
#Replace a value for another one on a column of your choice

target_column = validate_column()

df[target_column] = df[target_column].replace([input("Value to be replaced: ")], [input("New value: ")])

df

In [ ]:
#Get rid of all the NaN values (even if it's written incorrectly) on the entire dataset

df = df.fillna("")
df = df.replace(["nan", "na", "n/a", "N/a", "n/A", "N/A", "NA", "Na", "NAN"], "", regex = True)

df

In [ ]:
#Get rid of a row on a chosen column based on a value

target_column = validate_column()
target_value = input("Value:" )

for current_value in df.index:
  if df.loc[current_value, target_column] == target_value:
    df.drop(current_value, inplace = True)

df

In [ ]:
#Reset the index forcing the rows to be in order

df = df.reset_index(drop = True)

df